/**************************************/
/* Настройки максимальных размеров генерируемых изображений */
/**************************************/
.goods-image-icon {max-width:{SETTINGS_GOODS_IMAGES_SIZE_ICON | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_ICON | divide('2')}px;}
.goods-image-icon-square {width:{SETTINGS_GOODS_IMAGES_SIZE_ICON}px;height:{SETTINGS_GOODS_IMAGES_SIZE_ICON}px;}
.goods-image-small {max-width:{SETTINGS_GOODS_IMAGES_SIZE_SMALL | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_SMALL | divide('2')}px;}
.goods-image-small-square {width:{SETTINGS_GOODS_IMAGES_SIZE_SMALL}px; height:{SETTINGS_GOODS_IMAGES_SIZE_SMALL}px;}
.goods-image-medium {max-width:{SETTINGS_GOODS_IMAGES_SIZE_MEDIUM | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_MEDIUM | divide('2')}px;}
.goods-image-medium-square{width:{SETTINGS_GOODS_IMAGES_SIZE_MEDIUM}px; height:{SETTINGS_GOODS_IMAGES_SIZE_MEDIUM}px;}
.goods-image-other{max-width:{SETTINGS_GOODS_IMAGES_SIZE_OTHER | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_OTHER | divide('2')}px;}
.goods-image-other-square {width:{SETTINGS_GOODS_IMAGES_SIZE_OTHER}px; height:{SETTINGS_GOODS_IMAGES_SIZE_OTHER}px;}
.goods-image-large{max-width:{SETTINGS_GOODS_IMAGES_SIZE_LARGE}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_LARGE}px;}
.goods-image-large-square {width:{SETTINGS_GOODS_IMAGES_SIZE_LARGE}px; height:{SETTINGS_GOODS_IMAGES_SIZE_LARGE}px;}
.goods-cat-image-icon {max-width:{SETTINGS_GOODS_IMAGES_SIZE_CAT_ICON | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_CAT_ICON | divide('2')}px;}
.goods-cat-image-icon-square{width:{SETTINGS_GOODS_IMAGES_SIZE_CAT_ICON}px; height:{SETTINGS_GOODS_IMAGES_SIZE_CAT_ICON}px;}
.goods-cat-image-medium {max-width:{SETTINGS_GOODS_IMAGES_SIZE_CAT_MEDIUM | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_CAT_MEDIUM | divide('2')}px;}
.goods-cat-image-medium-square{width:{SETTINGS_GOODS_IMAGES_SIZE_CAT_MEDIUM}px; height:{SETTINGS_GOODS_IMAGES_SIZE_CAT_MEDIUM}px;}
.goods-cat-image-other{max-width:{SETTINGS_GOODS_IMAGES_SIZE_CAT_OTHER | divide('2')}px; max-height:{SETTINGS_GOODS_IMAGES_SIZE_CAT_OTHER | divide('2')}px;}
.goods-cat-image-other-square {width: {SETTINGS_GOODS_IMAGES_SIZE_CAT_OTHER}px; height:{SETTINGS_GOODS_IMAGES_SIZE_CAT_OTHER}px;}
/* END Настройки максимальных размеров генерируемых изображений */


/**************************************/
/* Иконки форматов файлов */
/**************************************/
.file_extension_icon {width: 1rem;height: 1rem;display: inline-block;margin-right: 0.625rem;background: #ffffff url('{ASSEST_IMAGES_PATH}icons-files-extensions.gif?design=THEMENAME') no-repeat left top;}
.file_extension_icon.torrent {background-position: -1rem 0}
.file_extension_icon.xls {background-position: -2rem 0}
.file_extension_icon.ie7 {background-position: -48px 0}
.file_extension_icon.ppt {background-position: -64px 0}
.file_extension_icon.htm, .file_extension_icon.html {background-position: 0 -1rem}
.file_extension_icon.avi {background-position: -1rem -1rem}
.file_extension_icon.bmp, .file_extension_icon.gif {background-position: -2rem -1rem}
.file_extension_icon.js, .file_extension_icon.css, .file_extension_icon.txt {background-position: -48px -1rem}
.file_extension_icon.pptm {background-position: -64px -1rem}
.file_extension_icon.rtf, .file_extension_icon.doc {background-position: 0 -2rem}
.file_extension_icon.jpg {background-position: -1rem -2rem}
.file_extension_icon.png {background-position: -2rem -2rem}
.file_extension_icon.ini {background-position: -48px -2rem}
.file_extension_icon.pptx {background-position: -64px -2rem}
.file_extension_icon.php {background-position: 0 -48px}
.file_extension_icon.mht, .file_extension_icon.mhtml {background-position: -1rem -48px}
.file_extension_icon.psd {background-position: -2rem -48px}
.file_extension_icon.zip {background-position: -48px -48px}
.file_extension_icon.xps {background-position: -64px -48px}
.file_extension_icon.exe {background-position: 0 -64px}
.file_extension_icon.xml {background-position: -1rem -64px}
.file_extension_icon.wma, .file_extension_icon.mp3 {background-position: -2rem -64px}
.file_extension_icon.xlsx {background-position: -48px -64px}
.file_extension_icon.xlsb {background-position: -64px -64px}
.file_extension_icon.pdf {background-position: 0 -80px}
.file_extension_icon.csv {background-position: -1rem -80px}
.file_extension_icon.docx {background-position: -2rem -80px}
.file_extension_icon.accdb {background-position: -48px -80px}
.file_extension_icon.xlsm {background-position: -64px -80px}
.file_extension_icon.dll {background-position: 0 -96px}


/* noty.css */
.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {position: fixed;margin: 0;padding: 0;z-index: 9999999;-webkit-transform: translateZ(0) scale(1, 1);transform: translateZ(0) scale(1, 1);-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-font-smoothing: subpixel-antialiased;filter: blur(0);-webkit-filter: blur(0);max-width: 90%;}
#noty_layout__top {top: 0;left: 0%;width: 100%;max-width: 100%;}
#noty_layout__topLeft {top: 30px;left: 20px;width: 325px;}
#noty_layout__topCenter {top: 5%;left: 50%;width: 325px;-webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);}
#noty_layout__topRight {top: 30px;right: 20px;width: 325px;}
#noty_layout__bottom {bottom: 0;left: 0;width: 100%;max-width: 100%;}
#noty_layout__bottomLeft {bottom: 20px;left: 20px;width: 325px;}
#noty_layout__bottomCenter {bottom: 5%;left: 50%;width: 325px;-webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);}
#noty_layout__bottomRight {bottom: 3rem;right: 1rem;max-width: 560px;width: auto;}
#noty_layout__center {top: 50%;left: 50%;width: 325px;-webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);}
#noty_layout__centerLeft {top: 50%;left: 20px;width: 325px;-webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);}
#noty_layout__centerRight {top: 50%;right: 20px;width: 325px;-webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);}
.noty_progressbar {display: none;}
.noty_bar {-webkit-backface-visibility: hidden;-webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);-ms-transform: translate(0, 0) scale(1, 1);transform: translate(0, 0) scale(1, 1);-webkit-font-smoothing: subpixel-antialiased;overflow: hidden;}
.noty_close_with_click {cursor: pointer;}
.noty_close_button {position: absolute;top: 2px;right: 2px;width: 20px;height: 20px;line-height: 20px;font-size: 20px;text-align: center;cursor: pointer;-webkit-transition: all .2s ease-out;transition: all .2s ease-out;}
.noty_close_button:hover {background-color: rgba(0, 0, 0, 0.1);}
.noty_modal {position: fixed;width: 100%;height: 100%;background-color: #000;z-index: 10000;opacity: .3;left: 0;top: 0;}
.noty_modal.noty_modal_open {opacity: 0;-webkit-animation: noty_modal_in .3s ease-out;animation: noty_modal_in .3s ease-out;}
.noty_modal.noty_modal_close {-webkit-animation: noty_modal_out .3s ease-out;animation: noty_modal_out .3s ease-out;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
/*sourceMappingURL=noty.css.map*/

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-webkit-keyframes noty_modal_in {
100% {opacity: .3;}
}
@keyframes noty_modal_in {
100% {opacity: .3;}
}
@-webkit-keyframes noty_modal_out {
100% {opacity: 0;}
}
@keyframes noty_modal_out {
100% {opacity: 0;}
}
@keyframes noty_modal_out {
100% {opacity: 0;}
}
@-webkit-keyframes noty_anim_in {
100% {-webkit-transform: translate(0);transform: translate(0);opacity: 1;}
}
@keyframes noty_anim_in {
100% {-webkit-transform: translate(0);transform: translate(0);opacity: 1;}
}
@-webkit-keyframes noty_anim_out {
100% {-webkit-transform: translate(50%);transform: translate(50%);opacity: 0;}
}
@keyframes noty_anim_out {
100% {-webkit-transform: translate(50%);transform: translate(50%);opacity: 0;}
}
/*** Анимация ***/
@-webkit-keyframes fadeInUp {
from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInUp {
from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.fadeInUp {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}

@-webkit-keyframes fadeOut {
from {opacity: 1;}
to {opacity: 0;}
}
@keyframes fadeOut {
from {opacity: 1;}
to {opacity: 0;}
}
.fadeOut {-webkit-animation-name: fadeOut;animation-name: fadeOut;}

@-webkit-keyframes fadeOutDown {
from {opacity: 1;}
to {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
}
@keyframes fadeOutDown {
from {opacity: 1;}
to {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
}
.fadeOutDown {-webkit-animation-name: fadeOutDown;animation-name: fadeOutDown;}
  
